*.psd filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
C:/Users/Atakan/Documents/TwoPlusOne/Assets/Models/Alice.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Models/Alice.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Models/*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/*.png filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/1K/*.png filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/banyozemini/Poliigon_SlateFloorTile_7657_Displacement.tiff filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/banyozemini/Poliigon_SlateFloorTile_7657_Normal.png filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/duvarlar/beige_wall_001_disp_4k.png filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/duvarlar/beige_wall_001_nor_gl_4k.exr filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/duvarlar/beige_wall_001_diff_4k.jpg filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/duvarlar/beige_wall_001_rough_4k.jpg filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/koltuk/Poliigon_BoucleFabricBubbly_7827_BaseColor.jpg filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/koltuk/Poliigon_BoucleFabricBubbly_7827_Metallic.jpg filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/koltuk/Poliigon_BoucleFabricBubbly_7827_Roughness.jpg filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/koltuk/Poliigon_BoucleFabricBubbly_7827_Displacement.tiff filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/koltuk/Poliigon_BoucleFabricBubbly_7827_Normal.png filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/orta filter=lfs diff=lfs merge=lfs -text
sehpa/*.meta filter=lfs diff=lfs merge=lfs -text
sehpa/*.jpg filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/orta_sehpa/*.jpg filter=lfs diff=lfs merge=lfs -text
Assets/mTextures/ortasehpa/*.jpg filter=lfs diff=lfs merge=lfs -text
